<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>用户登录</title>
  <link rel="stylesheet" type="text/css" href="./assets/stylesheets/userlogin.css"/>
  <link rel="stylesheet" type="text/css" href="Login.css"/>


</head>
<body>
<div class="wrap">
  <div class="container">
    <h1>Login</h1>
    <input type="text" placeholder="Your username" id="username"/><br>
    <input type="password" placeholder="password" id="password"/><br>
    <button type="button" onclick="sumbit_name_sex()">登录</button>
    <p class="change_link" align="center">
          <a href="signuup" class="to_login"> Let's go to register </a>
    </p>
  </div>
  <ul>     
    <li></li>     
    <li></li>       
    <li></li>     
    <li></li>     
    <li></li>     
    <li></li>   
    <li></li>     
    <li></li>   
    <li></li>     
    <li></li>
  </ul>
</div>
</body>
</html>