<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="Login.css"/>
</head>
8
<body>
9
<div id="login">
  <h1>Login</h1>
  <form method="get">
    <input type="text" required="required" placeholder="用户名" name="user"></input>
    <input type="password" required="required" placeholder="密码" name="pwd"></input>
    <button class="but" type="submit">登录</button>
  </form>
</div>
</body>
</html>